# build output
dist/
# generated types
.astro/
# dependencies
node_modules/
# logs
npm-debug.log*
*.log
# environment variables
.env
.env.production
.env.local
# macOS
.DS_Store
# editor
.vscode/
*.swp